.container
  = form_tag user_session_path, method: :post, class: "form-signin" do
    %h1.center.header-big iWod
    = link_to "Register your Gym for FREE", new_user_registration_path, class: "btn btn-lg btn-success btn-block"
    %br/
    %br/
    %h2.form-signin-heading Please sign in
    %input.form-control{:name => "user[email]", :autofocus => "", :placeholder => "Email address", :type => "text"}/
    %input.form-control{:name => "user[password]", :placeholder => "Password", :type => "password"}/
    %label.checkbox
      %input{:type => "checkbox", :value => "remember-me"}/
      Remember me
    %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Sign in
