.container
  - if flash.any?
    - flash.keys.each do |key|
      = flash[key]
  = form_tag user_session_path, method: :post, class: "form-signin" do
    %h1.center.header-big iWod
    = link_to "Register your Gym for FREE", new_user_registration_path, class: "btn btn-lg btn-success btn-block"
    %br/
    %br/
    %h2.form-signin-heading Please sign in
    %input.form-control{:autofocus => "", :placeholder => "Email address", :type => "text"}/
    %input.form-control{:placeholder => "Password", :type => "password"}/
    %label.checkbox
      %input{:type => "checkbox", :value => "remember-me"}/
      Remember me
    %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Sign in
